section {
  padding: 30px 20px;
  margin: 0 auto 30px;
  max-width: 1000px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  scroll-margin-top: 55px;
}

h2 {
  color: #483AA0;
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  font-size: 17px;
  color: #000;
}